
QMainWindow {
    background-color: #202533
}

QMenuBar {
    background-color: #202533;
     border: 1px inset #292f42;
}

QMenuBar::item {
    color: #ffffff;
    background: #202533;
}

QMenuBar::item::pressed {
    background: #16a4b5;
}

QMenu {
    color: #ffffff;
    background: #202533;
    border: 1px inset #292f42;
}

QMenu::separator {
    height: 2px;
    background: #292f42;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::item:selected {
    background: #16a4b5;
}